<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div ngbDropdown>
                <button class="btn" id="gfg" ngbDropdownToggle>Hi, {{firstname}}!</button>
                <div ngbDropdownMenu="gfg">
                    <button ngbDropdownItem>Settings</button>
                    <button ngbDropdownItem>Logout</button>
                </div>

            </div>
            <button class="btn btn-outline-dark" type="submit">
                <span class="profileIconName">{{name}}</span>
            </button>
        </div>
    </div>
</nav>

<header class="bg-dark ">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWOyH-Fvp8vwsgZhJl2UFFnyKy4bY5zafOi-Y8CO5iPB2wF0lkbGJSQHNc6A84GFh-zA&usqp=CAU"
        width="100%" height="300px" />
</header>