<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            <a class="mt-auto footerElement" href="https://www.google.com/" target="_blank">Privacy </a>
            <a class="mt-auto footerElement" href="https://www.google.com/" target="_blank">Terms </a>
            <a class="mt-auto footerElement" href="https://www.google.com/" target="_blank">Cookies </a>
            <a class="mt-auto footerElement" href="https://www.google.com/" target="_blank">More </a>
        </p>
    </div>
</footer>